<div class="thumbnail">
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1548844578876&di=093225d0b40d6942f2aa85c6eba2c72c&imgtype=0&src=http%3A%2F%2Fstatic-bbs.nubia.cn%2Fforum%2F201512%2F21%2F155348ismua1rm10tku100.jpg">
    <div>
        <h4 class="pull-right">{{product?.price}} 元</h4>
        <h4>{{product?.title}}</h4>
        <p>{{product?.desc}}</p>
    </div>
    <div>
        <p class="pull-right">
            {{productComments?.length}} 个评论
        </p>
        <p>
            <app-stars [rating]="product?.rating"></app-stars>
        </p>
    </div>
</div>

<div class="well">
    <div>
        <button class="btn btn-success" (click)="isCommentHidden = !isCommentHidden">发表评论</button>
    </div>
    <div [hidden]="isCommentHidden">
        <app-stars [readonly]="false" [(rating)]="newRating"></app-stars>
        <textarea [(ngModel)]="newComment"></textarea>
        <div>
            <button class="btn" (click)="addNewComment()">提交</button>
        </div>
    </div>
    <h4>用户评论</h4>
    <div class="row" *ngFor="let comment of productComments">
        <hr>
        <div class="col-md-12">
            <app-stars [rating]="comment.rating"></app-stars>
            <span>{{comment.user}}</span>
            <span class="pull-right">{{comment.time}}</span>
            <p></p>
            <p>{{comment.content}}</p>
        </div>
    </div>
</div>
