<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://tse3.mm.bing.net/th?id=OIP.MzMw9YaLYLaiDfkSyoUQKAHaCe&pid=Api&w=900&h=300&rs=1&p=0" alt="" class="slider-image">
    </div>
    <div class="item">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1548845128231&di=59bb2260a21b93f280411f7164446139&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F019f9859c9fbc9a801218e180cf9c5.jpg" alt="" class="slider-image">
    </div>
    <div class="item">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1548845000849&di=ce0d86c03cc10e974ca42f4f0866d817&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01b4ac55c9486e32f8755e6681a356.gif" alt="" class="slider-image">
    </div>
    <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
